body {
    font-family: "Liberation Sans", Arial, sans-serif;
    margin: 0;
}

ul {
    text-decoration: none;
    list-style-type:none;
}

a {
    text-decoration: none;
}

input[type=text] {
    height: 44px;
    width: 500px;
    border-radius: 100px;
    border: 1px solid rgb(224, 224, 224);
    padding-left: 20px;
    font-size: 16px;
    background-color: white;
}

input[type=submit]{
    height: 44px;
    border: none;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 16px;

}

.logo-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.search {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.formbuttons {
    margin: auto;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
.language {
    margin: 50px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.language p {
    display: inline;
    width: 200px;
}

footer {
    background-color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.country {
    margin: auto;
    padding: 16px 24px 16px 24px;
    border-bottom: 1px solid #dadce0;
    color: rgba(0,0,0,.5);
}

.imprint {
    margin: auto;
    display: flex;
}